/** rounded corners **/
div#toolbar-box {
  background: #f7f7f7;
}

div#element-box {
  background: #fff;
}

div#element-box div.section-box div.m {
	background: #fbfbfb;
}

div.t, div.b {
  height: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.m {
  padding: 6px 8px;
}

div#toolbar-box div.m {
  padding: 0;
}

div#element-box div.m {
  padding: 5px 0;
}

div#toolbar-box,
div#element-box div.section-box {
  background: #fff;
}